.App {
  text-align: center;
  width: 100vw;
}
.starship-cards {
  display: flex;
  flex-direction: row;
}
.starship-card {
  background-color: cyan;
  color: red;
  width: auto;
  margin: 5px;
  align-self: center;
}
.starship-card-header {
  font-weight: bold;
}
.app-component-header {
  font-size: larger;
  font-weight: bold;
  align-self: center;
  display: block;
}
